# Codespell configuration is within .codespellrc
---
name: Codespell
on:  # yamllint disable-line rule:truthy
  - pull_request
permissions:
  contents: read
jobs:
  codespell:
    if: |
      !(github.event_name == 'pull_request' && contains(github.event.pull_request.title, '[citest_skip]'))
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Codespell
        uses: codespell-project/actions-codespell@v2
