---
name: ShellCheck
on:  # yamllint disable-line rule:truthy
  pull_request:
  merge_group:
    branches:
      - main
    types:
      - checks_requested
  push:
    branches:
      - main
  workflow_dispatch:
env:
  # some scripts source tox-lsr scripts - suppress that check
  SHELLCHECK_OPTS: -e SC1091
permissions:
  contents: read
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Update git
        run: |
          set -euxo pipefail
          sudo apt update
          sudo apt install -y git

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run ShellCheck
        id: shellcheck_id
        uses: ludeeus/action-shellcheck@master

      - name: Show file paths scanned
        run: |
          echo Files scanned:
          echo "${{ steps.shellcheck_id.outputs.files }}"
